body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.vh {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.wrapper {
  --orange: var(--brand, #ff3c00);
  --ah-button-background: var(--orange);
  --ah-button-background-hover: red;

  container-name: calendar;
  container-type: inline-size;
  resize: horizontal;
  overflow: auto;
  outline: solid 1px grey;
  outline-offset: 4px;

  scrollbar-color: var(--orange) black;
  scrollbar-width: thin;

  td:not([class]) span {
    display: none;
  }

  h1 {
    margin-block-start: 0;
  }

  th,
  td {
    padding-left: 0;
    text-align: left;
  }

  td span {
    padding: 1em;
    display: inline-block;
  }

  th {
    padding-inline: 1rem;
  }

  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
  }

  button {
    margin-block-end: 2rem;
    margin-inline: 0.25rem;
  }
}

.day {
  display: none;
}

.calendar {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.currentCalendar .calendarMonth,
.currentCalendar .calendarYear {
  color: var(--orange);
}

.calendarMonth {
  letter-spacing: -5px;
  font-size: 500%;
  margin-bottom: 0;
}

.calendarMonth span:nth-child(3) ~ span {
  display: none;
}

.calendarYear {
  letter-spacing: -2px;
  margin-top: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid grey;
}

.calendarDayActive {
  color: var(--orange);
}

.calendarDayActive .dayCount {
  background: var(--orange);
  color: white;
  border-radius: 50%;
}

.month-buttons {
  display: flex;
  display: none;
}

.month-buttons ah-button {
  display: inline-block;
  margin: 1rem;
  color: white;
}

header {
  position: relative;
}

.month-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
}

.year-buttons {
  display: none;
  margin-inline-start: 1rem;
}

.year-buttons button {
  border: 0;
  margin-inline: 0.5rem;
  position: relative;
  bottom: 2px;
}

.year-buttons button:hover {
  background: darkgray;
  cursor: pointer;
}

.medium,
.long {
  display: none;
}

@container (inline-size > 400px) {
  .medium {
    display: inline-block;
  }

  .month-buttons {
    display: block;
  }

  th {
    padding-block-end: 1rem;
  }

  th,
  td {
    text-align: center;
    vertical-align: middle;
  }

  .calendarMonth span:nth-child(3) ~ span {
    display: inline;
  }
}

@container (inline-size > 1000px) {
  .year-buttons,
  .long {
    display: inline-block;
  }
}

@container (inline-size > 1600px) {
  .day:hover {
    color: white;
    background-image: linear-gradient(
      45deg,
      #000000 16.67%,
      #ffffff 16.67%,
      #ffffff 50%,
      #000000 50%,
      #000000 66.67%,
      #ffffff 66.67%,
      #ffffff 100%
    );
    background-size: 10px 10px;
    text-shadow: 0 0 3px #000000;
  }
}

@container (inline-size < 300px) {
  /* the narrow view */
  td {
    display: none;
  }

  .calendarDay {
    display: block;
    border-bottom: 1px solid black;
    width: 100%;
  }

  th {
    display: none;
  }

  table {
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
  }

  .calendarYear {
    padding-bottom: 0;
    border-bottom: none;
  }

  tr,
  table,
  thead,
  tbody {
    display: block;
    width: 100%;
  }

  .calendarDay {
    display: grid;
    grid-template-columns: 5fr 5fr;
  }

  tr:nth-child(1) .calendarDay:nth-child(1) {
    border-top: 1px solid black;
  }

  .calendarDay .dayCount {
    background: inherit;
    color: inherit;
  }

  .dayCount {
    text-align: right;
  }

  .dayName {
    all: unset;
    padding: 1em;
  }
}

.showDots {
  padding-block-end: 1em;

  th,
  td {
    text-align: center;
    width: calc(1 / 7 * 100%);
  }

  td {
    position: relative;
    padding: 2em;

    &::after {
      position: absolute;
      translate: -10px 0;
      left: 50%;
      content: "";
      display: block;
      height: 20px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: var(--dot-background, black);
      border: 2px solid;
      border-color: var(--dot-color, transparent);
    }
  }

  .calendarDayActive {
    --dot-color: red;
    --dot-background: red;
  }
}

@container (inline-size > 1000px) {
  .year-buttons,
  .long {
    display: inline-block;
  }
}
